<header>
  <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/NSC-Math-181/index.html">Schedule</a></li>
        <li><a href="/NSC-Math-181/Syllabus.html">Syllabus</a></li>
        <li><a href="/NSC-Math-181/Specifications.html">Specifications</a></li>
        <li><a href="/NSC-Math-181/Core.html">Projects/Exams</a></li>
     </ul>
    </div>
  </nav>
</header>
