<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
        displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>NSC Math 181</h1>
          <h2>Course Materials for Calculus 1 at NSC</h2>
        </header>
        <nav>
    		  <ul>
        		<li><a href="/">Syllabus</a></li>
	        	<li><a href="/GP1.1.md">Guided Practice</a></li>
        		<li><a href="/../MiniProjects.md">Mini Projects</a></li>
    		  </ul>
		    </nav>


		<div class="container">
{{ content }}
		</div><!-- /.container -->

        <footer>
          Serge Ballif modified this guided practice from the original by <a ref="https://github.com/RobertTalbert/calculus">Robert Talbert and GVSU </a><br>
        </footer>

        
      </div>
    </div>
  </body>
</html>
