<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
        displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
        processEscapes: true,
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
      //,
      //displayAlign: "left",
      //displayIndent: "2em"
    });
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
  
  // Document ready tells the script to fire only once the entire page is loaded. 
    $(document).ready(function(){
  
  // The next line tells the mouse cursor to becom a pointer when hovering over the H2 elements in the Markdown. 
    $('.markdown-block .sqs-block-content h4').css('cursor','pointer');
  
  // The next line initialises the open/close areas by hiding the content  
    $(".markdown-block .sqs-block-content h4").nextUntil("h4").slideToggle();
  
  //Finally, there is a function that listens for a click on an H2 and either shows or hides its content depending on its current state.  
    $(".markdown-block .sqs-block-content h4").click(function() {$(this).nextUntil("h4").slideToggle();});
    });
    </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>NSC Math 181</h1>
        </header>
        <nav>
    		  <ul>
        		<li><a href="/NSC-Math-181/index.html">Schedule</a></li>
        		<li><a href="/NSC-Math-181/Syllabus.html">Syllabus</a></li>
	        	<li><a href="/NSC-Math-181/Specifications.html">Specifications</a></li>
        		<li><a href="/NSC-Math-181/Core.html">Projects/Exams</a></li>
    		  </ul>
	</nav>


		<div class="container">
{{ content }}
		</div><!-- /.container -->

        <footer>
          Modified by Serge Ballif from the original by <a href="https://github.com/RobertTalbert/calculus">Robert Talbert and GVSU </a><br>
        </footer>

        
      </div>
    </div>
  </body>
</html>
