
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/contrib/auto-render.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>NSC Math 181</h1>
        </header>
        <nav>
    		  <ul>
        		<li><a href="/NSC-Math-181/index.html">Schedule</a></li>
        		<li><a href="/NSC-Math-181/Syllabus.html">Syllabus</a></li>
	        	<li><a href="/NSC-Math-181/Specifications.html">Specifications</a></li>
        		<li><a href="/NSC-Math-181/Core.html">Projects/Exams</a></li>
    		  </ul>
	</nav>


		<div class="container">
{{ content }}
		</div><!-- /.container -->

        <footer>
          Modified by Serge Ballif from the original by <a href="https://github.com/RobertTalbert/calculus">Robert Talbert and GVSU </a><br>
        </footer>

        
      </div>
    </div>
    <script>
      renderMathInElement(
          document.getElementById("test"),
          {
              delimiters: [
                  {left: "$$", right: "$$", display: true},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: false},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
    </script>
  </body>
</html>



